*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.searchBar{
    margin: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#searchInput{
    width: 800px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    align-items: center;
}

#filterButton{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

#filterButton:hover{
    background-color:white;
    color: black;
    border: 1px solid black;
}

.first-three-box-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.other-three-box-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.product-btn{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}
.product-btn:hover{
    background-color: white;
    color: black;
}
/* GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}

/* CARD BOX */
.card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s ease-in-out;
}

/* Card Hover */
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.2);
}

/* IMAGE */
.card-img {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 12px;
}

/* TITLE */
.card-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: #222;
}

/* DESCRIPTION */
.card-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
}

/* PRICE */
.card-price {
    color: #d35400;
    font-size: 18px;
    margin-bottom: 14px;
}

/* BUTTON */
.card-btn {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.card-btn:hover {
    background: #239b56;
}

/* MOBILE VIEW */
@media(max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
