body {
            text-align: center;
        }

        img {
            width: 200px;
            align-items: center;
            justify-content: center;
            margin: 50px 50px 80px 100px;
        }

        button {
            padding: 10px 20px;
            font-size: 18px;
            align-items: center;
            justify-content: center;
           
           
        }