*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    
}

#input-h3{
    text-align: left;
    margin: 5px 10px 5px 0px;
}

#formInput{
    margin: 0px 10px 20px 0px;
    width: 100%;
    height: 30px;
}

#btn{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

#btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}