*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-bar{
    display: flex;
    gap: 10px;
}

.searchInput{
    width:90%;
    height: 30px;
    margin: 20px;

}

.filter-btn{
    width: 70px;
    height: 30px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.filter-btn:hover{
    background-color: white;
    color: black;
}

.image-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.2);
}

.card-img {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 12px;
}


.card-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: #222;
}


.card-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
}


.card-price {
    color: white;
    font-size: 18px;
    margin-bottom: 14px;
}


.card-btn {
    background:black;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.card-btn:hover {
    background: white;
    color: black;
}


